// Default for screens over 1200px
body {
  background-image: linear-gradient(to right, $pale-grey, $white);
  font-family: $primary-font;
  overflow: hidden;
}

section {
  position: relative;
}

a:hover {
  color: $moo-xoo-green;
}

.main-title {
  margin-top: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green {
  color: $moo-xoo-green;
}

.icon-box {
  width: 85%;
  padding: 35px;
  box-shadow: 0px 8px 34.5px 0 rgba(60, 60, 60, 0.09), 0px 13px 27px 0 rgba(65, 65, 65, 0.06);
  margin-bottom: 58px;
  background-color: $white;
}

.icon-container {
  padding-bottom: 34px;
  height: 80px;

  img {
    height: 50px;
  }
}

.text-box {
  opacity: 0.9;
  border-radius: 3px;
  width: 70%;
  padding: 7.5% 10%;
  box-shadow: 5px 8.7px 60px 0 rgba(50, 117, 208, 0.1);
  margin-bottom: 58px;
  @include text-blue;
  color: $moo-xoo-green;
  font-size: 0.8em;
}

.btn {
  padding: 10px 24px 10px 24px;
  border-radius: 1px;
  box-shadow: 0px 5px 17px 0 rgba(57, 213, 45, 0.26), 0px 6px 11px 0 rgba(57, 213, 45, 0.41);
  background-color: $moo-xoo-green;
  border: solid 0.3px $apple-green;
  @include button-style;
}

.separator {
  margin: 5vh 15vw;
  width: 70vw;
  height: 1px;
  background-color: #ebebeb;
}

a:hover,
button:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.mooxoo-shapes {
  .doughnut {
    color: $moo-xoo-green;
    border: 150px solid;
    border-radius: 50%;
    height: 800px;
    width: 800px;
    margin-left: 20%;

    .image {
      background-image: url(/assets/images/circle-image.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 500px;
      height: 500px;
      transform: rotate(-20deg);
      transform-origin: 40% 10%;
      object-fit: cover;
    }
  }

  .triangle {
    background-image: url(/assets/images/-e-BIG-triangle.svg);
    background-repeat: no-repeat;
    height: 60vw;
    object-fit: contain;
    background-repeat: no-repeat;
    -webkit-transform: rotate(-15deg);
    margin-left: -30vw;

    img {
      height: 50%;
      width: auto;
      -webkit-clip-path: polygon(0% 50%, 75% 100%, 75% 0);
      clip-path: polygon(0% 50%, 75% 100%, 75% 0);
      transform: rotate(10deg);
      margin-top: 30%;
      margin-left: 7.5vw;
      z-index: 100;
      object-fit: contain;
    }
  }

  .cross {
    width: 50vw;
    height: auto;
    position: relative;
    background-image: url(/assets/images/-e-BigX.svg);
    background-repeat: no-repeat;
    margin-top: -50%;
    margin-left: 20vw;

    img {
      height: 40vw;
      width: 40vw;
      -webkit-clip-path: polygon(25% 0, 0 25%, 25% 50%, 0 75%, 25% 100%, 50% 76%, 75% 100%, 100% 75%, 75% 49%, 100% 25%, 75% 0, 50% 24%);
      clip-path: polygon(25% 0, 0 25%, 25% 50%, 0 75%, 25% 100%, 50% 76%, 75% 100%, 100% 75%, 75% 49%, 100% 25%, 75% 0, 50% 24%);
      margin-left: 20%;
      margin-top: 10%;
      object-fit: cover;
      object-position: 80% 20%;
    }
  }

  .semi-circle {
    width: 70vw;
    height: 35vw;
    border-top-left-radius: 35vw;
    border-top-right-radius: 35vw;
    border: 13vw solid $moo-xoo-green;
    border-bottom: 0;
    transform: rotate(-160deg);
    margin-top: -9vw;
    margin-bottom: -50vw;
    margin-left: 10vw;

    .semi-circle-clipped {
      -webkit-clip-path: url(#svgPath);
      clip-path: url(#svgPath);
    }
  }
}

.bullets {
  position: relative;
  border-left: 1px solid black;
  display: inline;

  li {
    position: relative;
    text-align: left;
    display: block;

    &:after {
      content: "\2022";
      font-size: 60px;
      position: absolute;
      left: -60px;
      top: -24px;
      color: $light-grey;
    }

    &:before {
      top: 16px;
      content: "";
      position: absolute;
      left: -48px;
      border-left: 1px solid $light-grey;
      height: 300vh;
      width: 1px;
    }
  }
}

.navbar-notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.notification-language {
  width: 100vw;
  height: 60px;
  background-color: $light-yellow;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 15px;
    font-family: $primary-font;
  }

  .language-title {
    font-weight: 500;
    color: $hunter-green;
    margin-right: 5px;
  }

  .description {
    color: $grey;
  }

  .btn {
    box-shadow: none;
    text-transform: uppercase;
  }

  .grey {
    background-color: $grey;
  }
}

.navbar {
  height: 60px;

  .navbar-item {
    font-family: $bold-font;
    font-size: 18px;
    text-align: left;
    color: $hunter-green;
  }

  .image {
    display: flex;
    align-items: flex-start;
    margin-right: 55%;
    margin-left: -78px;
    margin-top: 1vw;
  }

  a {
    padding-right: 2.5vw;
  }

  a:hover {
    color: $moo-xoo-green !important;
  }

  .navbar-menu {
    float: right;

    .pale {
      color: $pinkish-grey;
    }

    a:last-child {
      left: 13%;
      font-family: $primary-font;
      color: $moo-xoo-green;
    }
  }
}

.first-container {
  margin-top: 10%;

  h1 {
    width: 20vw;
    font-weight: bold;
    @include main-title;
    font-size: 62.5px;
    line-height: 1.2em;
  }

  h2 {
    width: 25vw;
    @include copyright;
    font-size: 35.5px;
    text-shadow: 0.25px 0.25px 0.25px $moo-xoo-green;
    margin-top: 10%;
    text-align: left;
    margin-bottom: 5%;
  }

  p {
    width: 25vw;
  }

  .ipad-island {
    .island {
      width: 70%;
      height: 55%;
      position: absolute;
      margin-left: -20%;
      margin-top: -35%;
    }

    .ipad {
      max-width: 650px;
      min-width: 400px;
      margin-left: 5%;
      position: relative;
      margin-top: 20vh;
      z-index: 10;
    }
  }
}


.second-container {
  font-family: $primary-font;
  font-size: 28px;
  text-align: left;

  h1 {
    @include main-title;
  }

  .green-description {
    padding: 0vw 7.5vw 7.5vw 0vw;

    h2 {
      line-height: 1.4;
      font-weight: 300;
      letter-spacing: 0.1px;
      color: $moo-xoo-green;
      z-index: 120;
    }
  }

  .black-description {
    padding: 0vw 7.5vw 7.5vw 0vw;

    p {
      line-height: 1.47;
      text-align: left;
      color: $hunter-green;
    }
  }
}

.third-container {
  padding-top: 80px;
  min-height: 50%;

  .card-icon {
    width: 80%;
    height: 92px;
    @include card-style;

    h3 {
      font-family: $bold-font;
      color: $hunter-green;
    }
  }
}

.fourth-container {
  width: 100%;

  li {
    position: relative;
    text-align: left;
    display: block;

    &:before {
      top: 20px;
      content: "";
      position: absolute;
      left: -79%;
      border-top: 1px solid $light-grey;
      height: 1px;
      width: 70%;
    }
  }

  .mooxoo-shapes {
    padding-top: 150%;
    position: relative;
    z-index: 10;
  }

  .eye-container {
    height: 120%;
    margin-top: 40%;
    margin-right: -10vw;
    margin-bottom: 30%;
    position: relative;
    background-image: url(/assets/images/island-2.svg);
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: 65% 0%;

    img {
      width: 20%;
      margin-left: 50%;
      margin-top: 15%;
      margin-bottom: 5%;
      position: relative;
      z-index: 1;
    }

    h2 {
      width: 70%;
      font-family: $primary-font;
      font-size: 30px;
      line-height: 1.17;
      color: $hunter-green;
    }

    p {
      font-family: $primary-font;
      font-size: 18px;
      line-height: 1.76;
      color: $moo-xoo-green;
    }
  }

  .sub-text {
    background-image: url(/assets/images/island-services-svg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 40vw;
    margin-left: 10vw;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.41;
    letter-spacing: 0.1px;
    text-align: left;
    margin-bottom: 50px;

    h1 {
      @include main-title;
    }

    h2 {
      font-family: $primary-font;
      color: $moo-xoo-green;
      margin-bottom: 40px;
      width: 100%;
    }

    h3 {
      padding-bottom: 5%;
      color: $hunter-green;
    }

    p {
      font-family: $primary-font;
      font-size: 20px;
      color: $hunter-green;
    }
  }
}

.fifth-container {
  .sub-text {
    width: 120%;

    h3 {
      padding-top: 5%;
      @include text-blue;
      font-size: 23px;
      line-height: 1.6;
    }

    h4 {
      @include copyright;
      font-family: $bold-font;
      padding-top: 20px;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.47;
      color: $moo-xoo-green;
    }

    p {
      @include card-style;
      font-size: 17px;
    }
  }
}

.sixth-container {
  padding-bottom: 0px;

  .island-3 {
    width: 50vw;
    position: relative;
    background-image: url(/assets/images/island-3.svg);
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position: 80% -80%;
    right: 25%;
    padding-bottom: 25vw;
    margin-top: -4vw;

    .brain-icon {
      width: 5vw;
      margin-top: 15vw;
      margin-left: 27vw;
      margin-bottom: 2.5vw;
      z-index: 100;
    }

    .text-area {
      margin-left: 10vw;
      @include medium-text;
      text-align: center;

      p {
        color: $moo-xoo-green;
      }
    }
  }

  h1 {
    @include main-title;
  }

  h3 {
    @include text-blue;
    color: $moo-xoo-green;
    font-size: 28px;
    width: 30%;
    font-weight: 600;
  }

  li:before {
    top: -98vh;
    height: 100vh;
  }
}

.seventh-container {
  background: url(/assets/images/island-dpworx-svg.svg) 20% 0% no-repeat, rgba(255, 255, 255, 0.7);
  background-size: 50%, cover;

  strong,
  a {
    font-weight: 500;
    color: $dark-grey-blue;
  }

  .icon-box {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 6%
  }

  .text-container {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: 300;
    font-style: $primary-font;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: left;
    margin-top: 8%;

    h2 {
      color: $moo-xoo-green;
      font-style: $bold-font;
    }

    h3 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.11;
    }

    p {
      font-size: 26px;
      width: 120%;
      padding-top: 1%;
    }
  }

  .text-links {
    width: 40vw;
    margin-top: 15%;

    h1 {
      width: 120%;
      font-family: $primary-font;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.46;
      letter-spacing: 0.1px;
      text-align: left;
      color: $dark-grey-blue;
    }
  }

  .macbook-container {
    width: 100%;
    margin-top: 20%;
    background: url(/assets/images/island-macbook-svg.svg) 15% 0% no-repeat;
    background-size: 70% 100%;
    background-position-x: 30%;
    margin-left: 5vw;
    padding: 5vw;

    img {
      margin-left: 5%;
      margin-top: -15%;
      width: 70%;
      height: auto;
    }

    .macbook-text {
      margin-top: -15%;
      margin-left: 8vw;
      padding: 5vw;
      padding-left: 20px;
      width: 80%;

      p {
        @include medium-text;
        font-size: 2vw;
        width: 30vw;

        strong {
          font-style: normal;
          font-weight: 500;
        }
      }

      p:last-child {
        color: $moo-xoo-green;
      }
    }
  }
}

.eighth-container {
  padding-top: 10%;

  p {
    width: 15vw;
    font-family: $primary-font;
    font-size: 20px;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: $dark-grey-blue;
  }
}

.ninth-container {
  padding-top: 5%;

  .container {
    margin-bottom: 100px;
    margin-top: 50px;

    h1 {
      @include text-blue;
      font-family: $primary-font;
      font-weight: 300;
      margin-bottom: 40px;
      width: 559px;
    }

    strong {
      color: #363636;
      font-weight: 500;
    }
  }

  .slide-navigation {
    padding-top: .1%;
    padding-left: 12.5%;

    li {
      list-style-type: none;
      float: left;
      width: 15%;
      position: relative;
      text-align: center;
      display: inline-block;

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        line-height: 16px;
        border: 1px solid $soft-grey;
        display: block;
        text-align: center;
        border-radius: 50%;
        background-color: $soft-grey;
        margin-left: 45%;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border: 0.5px solid $soft-grey;
        background-color: $soft-grey;
        left: -50%;
        top: 8px;
      }

      &:first-child:after {
        content: none;
      }

      a {
        font-family: $primary-font;
        color: $medium-grey;
      }

      p {
        width: 60%;
        margin-top: 10%;
        margin-left: 20%
      }
    }

    li.active {
      a {
        color: $moo-xoo-green;
        font-weight: 500;
      }

      &:before {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-color: $apple-green;
        background-color: $apple-green;
        margin-top: -4.5px;
        margin-left: 42.5%;
        position: relative;
        z-index: 10;
      }
    }
  }

  .slide-wrap {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-image: url(/assets/images/bg.svg);
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;

    .slide-bar {
      padding: 0vw 2vw 10vw;
      max-width: 100%;
      line-height: 1.52;

      .icon {
        height: 42px;
        width: auto;
      }

      h1 {
        margin-bottom: 10px;
        font-family: $light-font;
        text-transform: uppercase;
        font-size: 24.8px;
        text-align: left;
        color: $moo-xoo-green;
      }

      .sub-description {
        @include text-blue;
        width: 397.5px;
        font-weight: 400;
        font-size: 18px;
        color: $grey;
        font-family: $primary-font;
        line-height: 1.52;
      }

      .sub-title {
        @include text-blue;
        color: $moo-xoo-green;
        text-transform: capitalize;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .slogan {
        width: 397.5px;
        @include text-blue;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .slide-module {
        height: 70%;
      }

      .modules-description {
        margin-bottom: 2.5vh;
      }

      .slide-item {
        width: 70%;
        height: 75%;
        @include text-blue;
        font-size: 18px;
        font-family: $primary-font;
        font-weight: 300;

        ul {
          list-style-type: inherit;
          padding-left: 20px;
        }
      }

      .actions {
        padding-top: 20%;
      }

      #main-slide {
        padding-top: 10vh;
        padding-left: 10vw;

        .island {
          width: 80%;
          height: 80%;
          background-image: url(/assets/images/bubble.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-left: 15vw;
          line-height: 1.52;

          .island-container {
            padding-top: 5vh;

            p {
              font-size: 18px;
              font-weight: 300;
              width: 70%;
              margin-left: 5vw;
              margin-bottom: 1vh;
            }
          }
        }
      }

      #modules {
        padding-top: 10vh;
      }

      #management {
        .island {
          padding-left: 5%;
          padding-top: 100px;
          background-image: url(/assets/images/bubble-m.svg);
          background-position: 0px 5%;
          background-size: 20%;
          background-repeat: no-repeat;
        }

        ul {
          padding-top: 5%;
        }
      }

      #analysing {
        .island {
          padding-top: 100px;
          padding-left: 5%;
          background-image: url(/assets/images/bubble-a.svg);
          background-position: 0px 15%;
          background-size: 20%;
          background-repeat: no-repeat;
        }
      }

      #communication {
        .island {
          padding-top: 100px;
          padding-left: 7.5%;
          background-image: url(/assets/images/bubble-c.svg);
          background-position: 0px 5%;
          background-size: 25%;
          background-repeat: no-repeat;
        }
      }

      #material {
        margin-right: 10vw;

        .island {
          padding-top: 100px;
          padding-left: 7.5%;
          background-image: url(/assets/images/bubble-d.svg);
          background-position: 0px 17%;
          background-size: 30%;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.tenth-container {
  h1 {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 300;
    line-height: 0.92;
    letter-spacing: 0.1px;
    color: $gun-metal;
  }

  .column {
    display: flex;
    justify-content: center;
  }

  .card-icon {
    width: 20vw;

    h3 {
      font-family: $primary-font;
      font-size: 23px;
      font-weight: 600;
      line-height: 1.2;
      color: $dark-grey-blue;
    }

    p {
      font-family: $primary-font;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.1px;
      text-align: left;
      color: $moo-xoo-green;
      padding-bottom: 20px;
    }
  }

  h3 {
    font-size: 19.8px;
    line-height: 1.2;
    color: $dark-grey-blue;
    margin-bottom: 1.2vw;
  }

  img {
    margin-top: 45px;
  }

  .island {
    margin-top: 30%;
    margin-bottom: 10%;
    width: 70vw;
    height: 28vw;
    background-image: url(/assets/images/island-macbook-svg.svg);
    background-position: 80% 50%;
    background-size: 100% 140%;
    background-repeat: no-repeat;

    h3 {
      width: 70%;
      padding-top: 15%;
      font-family: "Work Sans",
        sans-serif;
      font-weight: normal;
      font-size: 30px;
      line-height: 1.5;
      color: $hunter-green;
    }
  }
}

.eleventh-container {
  z-index: 10;
  width: 150%;

  h1 {
    width: 25vw;
    font-family: $bold-font;
    font-size: 40px;
    letter-spacing: 0.2px;
    text-align: left;
    color: $pinkish-grey;
    margin-bottom: 2vh;
  }

  h2 {
    height: 67px;
    font-family: $bold-font;
    font-size: 22px;
    line-height: 1.34;
    letter-spacing: 0.1px;
    text-align: left;
    color: $dark-grey-blue;
    margin-bottom: 8vh;
  }

  h3 {
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.35;
    letter-spacing: 0.1px;
    text-align: left;
    color: $tree-green;
    margin-bottom: 3vh;
  }

  p {
    width: 357px;
    font-family: $primary-font;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.1px;
    text-align: left;
    color: $dark-grey-blue;
    margin-bottom: 6vh;
  }

  .hiring {
    position: relative;
    margin-left: 7.5vw;

    .disabled {
      opacity: 0.4;
    }
  }

  .mooxoo-shapes {
    position: relative;
    z-index: -1;
  }
}

.twelveth-container {
  padding-top: 400px;
  z-index: 10;

  .text-rectangle {
    height: 300px;
    width: 100vw;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background-color: $moo-xoo-green;

    h1 {
      padding-top: 5%;
      font-family: $bold-font;
      font-size: 2vw;
      font-weight: bold;
      letter-spacing: 0.1px;
      text-align: center;
      color: $off-white;
      margin-bottom: 1%;
    }

    p {
      margin-left: 20%;
      width: 60%;
      font-family: $primary-font;
      font-size: 20px;
      line-height: 1.28;
      letter-spacing: 0.1px;
      text-align: center;
      color: $tree-green;
    }

    .input {
      opacity: 0.3;
      border-radius: 2.1px;
      background-color: #edf5f9;
      border: solid 0.7px $cool-grey;
      color: $dark-grey-blue;
      margin-bottom: 10px;
    }

    textarea {
      opacity: 0.3;
      border-radius: 2.1px;
      background-color: #edf5f9;
      border: solid 0.7px $cool-grey;
      color: $dark-grey-blue;
      margin-bottom: 5%;
    }
  }

  .contact-container {
    width: 35%;
    background-color: $white;
    padding: 2.5vw 2.5vw 2.5vw 2.5vw;
    box-shadow: 5px 8.7px 60px 0 rgba(50, 117, 208, 0.1);
    margin-top: -5%;
    position: relative;
    z-index: 1;

    h3 {
      font-family: $bold-font;
      font-size: 22px;
      letter-spacing: 0.1px;
      text-align: center;
      color: $dark-grey-blue;
      margin-bottom: 4%;
    }

    .contact-content {
      padding: 0 18px;

      #contact-form {
        padding-top: 19px;
        padding-bottom: 20px;
        display: none;
        position: relative;
        z-index: 1000;
        height: 100%;

        a {
          margin-top: 20px;
        }
      }
    }
  }

  .subscription-container {
    margin-top: 2%;

    p {
      font-family: $light-font;
      font-size: 16px;
      letter-spacing: 0.1px;
      text-align: center;
      color: $steel;
      padding-bottom: 25px;
    }

    .subscription-input {
      display: flex;
      justify-content: center;
    }

    .control {
      z-index: -1;

      .input {
        width: 20vw;
        height: 100%;
        opacity: 0.3;
        border-radius: 2.1px;
        background-color: #edf5f9;
        border: solid 0.7px $cool-grey;
        color: $dark-grey-blue;
      }

      .btn {
        color: $white;
        width: 10vw;
        background-color: $moo-xoo-green;
      }
    }
  }
}

.footer {
  background-color: transparent !important;
  padding-top: 18px;

  .column {
    height: 20vh;
  }

  #language-preferences {
    float: right;
    flex-direction: column;
  }

  #links {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
  }

  .links {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 6vw;
  }

  .selected {
    color: $dark-grey;
  }

  i {
    margin-top: 4vh;
    color: $steel;
    opacity: 0.5;
  }

  img {
    width: 10vw;
  }

  p,
  a {
    width: 100%;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1.65;
    letter-spacing: 0.1px;
    text-align: left;
    color: $dark-grey;
    margin-bottom: 16px;
  }

  a {
    color: $steel;

    &:hover {
      color: $dark-grey;
    }
  }

  .copyright {
    font-family: $primary-font;
    font-size: 13px;
    text-align: left;
    color: $moo-xoo-green;
    padding-top: 2vh;
  }

  h3 {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 1.2px;
    text-align: left;
    color: $moo-xoo-green;
    text-transform: uppercase;
  }

  h3,
  img {
    margin-bottom: 20px;
  }
}
