// (min-width: 992px) and (max-width: 1200px)
@include responsive(lg) {
  .container {
    width: 80%;
  }

  .main-title {
    margin-top: 2em;
  }

  .icon-box {
    margin-bottom: 30px;
    padding: 20px;
  }

  .text-box {
    margin-bottom: 10px;
    padding: 5%;
    font-size: 0.7em;
  }

  .navbar {
    padding-left: 3em;


    .image {
      margin-right: 30%;
      margin-left: -100px;
    }

    a {
      padding-right: 1.5vw;
    }

    .navbar-menu {
      width: 30%;

      a {
        &:last-child {
          left: 0%;
        }
      }
    }
  }

  .mooxoo-shapes {
    .doughnut {
      width: 600px;
      height: 600px;
      border: 115px solid;

      .image {
        width: 350px;
        height: 350px;
      }
    }

    .semi-circle {
      margin-top: -20vw;
      margin-bottom: -30vw;
      transform: rotate(-140deg);
    }
  }

  .first-container {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 25px;
    }

    .ipad-island {
      .ipad {
        min-width: 200px;
        max-width: 500px;
      }
    }
  }

  .second-container {
    font-size: 25px;
  }

  .third-container {
    padding-top: 10px;

    .card-icon {
      font-size: 22px;
    }
  }

  .fourth-container {
    margin-top: 10%;
    width: 81%;

    .mooxoo-shapes {
      margin-top: 10%;
    }

    .eye-container {
      height: 80%;

      h2 {
        font-weight: bold;
        font-size: 25px;
      }

      p {
        font-size: 22px;
      }
    }

    .sub-text {
      font-size: 25px;

      p {
        font-size: 25px;
      }

      h2 {
        font-weight: bold;
        font-size: 25px;
      }
    }
  }

  .fifth-container {
    .sub-text {
      width: 140%;

      h3 {
        padding-top: 0%;
        font-size: 22px;
      }

      h4 {
        font-size: 22px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .sixth-container {
    padding-bottom: 0px;

    .island-3 {
      margin-top: -10vw;

      .brain-icon {
        margin-top: 13vw;
        margin-left: 26vw;
        width: 7vw;
      }

      .text-area {
        margin-left: 10vw;
        font-size: 22px;
      }
    }

    h3 {
      font-size: 25px;
    }
  }

  .seventh-container {
    .text-container {
      // margin-top: 10vh;
      font-size: 30px;

      h2 {
        font-size: 25px;
      }

      h3 {
        font-size: 23px;
      }

      p {
        font-size: 22px;
      }
    }

    .text-links {
      width: 30vw;

      h1 {
        font-size: 25px;
      }
    }


  }

  .eighth-container {
    padding-top: 0%;

    p {
      width: 17vw;
      font-size: 22px;
    }

    .text-box {
      font-size: 1.2em;
    }
  }

  .ninth-container {
    .container {
      margin-top: 25px;
      margin-bottom: 50px;

      h1 {
        font-size: 25px;
      }
    }

    .slide-navigation {
      margin-left: -18%;
      width: 130%;

      li {

        &:before {
          line-height: 10%;
        }

        p {
          width: 80%;
          font-size: 20px;
        }
      }
    }

    .slide-wrap {
      width: 100%;

      .slide-bar {
        padding: 0vw 1vw 5vw;
        max-width: 100%;

        .icon {
          width: auto;
          height: 30px;
        }

        h1 {
          margin-bottom: 5px;
          font-size: 20px;
        }

        .sub-description {
          font-size: 22px;
        }

        .sub-title {
          font-size: 22px;
        }

        .slogan {
          font-size: 23px;
        }

        .slide-item {
          font-size: 22px;
        }

        .actions {
          padding-top: 15%;
        }

        #main-slide {
          .island {
            width: 90%;

            .island-container {
              p {
                margin-left: -5vw;
                width: 100%;
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }

  .tenth-container {
    h1 {
      font-size: 28px;
    }

    .card-icon {
      width: 21vw;

      h3 {
        font-size: 25px;
      }

      p {
        font-size: 22px;
      }
    }

    h3 {
      font-size: 22px;
    }

    .island {
      h3 {
        margin-left: 20%;
        font-size: 22.5px;
      }
    }
  }

  .eleventh-container {
    width: 140%;

    h2 {
      margin-bottom: 30%;
      font-size: 25px;
    }

    h3 {
      font-size: 25px;
    }

    p {
      font-size: 22px;
    }

  }

  .twelveth-container {
    padding-top: 200px;

    .text-rectangle {
      height: 300px;

      .container {
        width: 100%;
      }

      h1 {
        padding-top: 8%;
      }

      p {
        font-size: 22px;
      }
    }

    .contact-container {
      h3 {
        font-size: 25px;
      }
    }
  }

  .footer {

    p,
    a {
      font-size: 12px;
    }

    .copyright {
      font-size: 10px;
    }

    h3 {
      font-size: 13px;
    }
  }
}
