// (min-width: 769px) and (max-width: 992px)
@include responsive(md) {
  .container {
    width: 70%;
  }

  .navbar {
    padding-left: 14%;

    .image {
      margin-right: 30%;

    }

    a {
      padding-right: 1.5vw;
    }

    .navbar-menu {
      width: 30%;

      a {
        &:last-child {
          left: 0%;
        }
      }
    }
  }

  .main-title {
    margin-top: 2em;
  }

  .icon-box {
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
  }

  .text-box {
    margin-bottom: 20px;
    padding: 10% 5%;
    width: 100%;
    font-size: 0.6em;
  }

  .btn {
    font-size: 15px;
  }

  .mooxoo-shapes {
    .doughnut {
      width: 600px;
      height: 600px;
      border: 100px solid;

      .image {
        width: 400px;
        height: 400px;
      }
    }

    .semi-circle {
      margin-top: -20vw;
      margin-bottom: -35vw;
      margin-left: 5vw;
      width: 80vw;
      height: 40vw;
      border-top-left-radius: 40vw;
      border-top-right-radius: 40vw;
      transform: rotate(-150deg);
    }
  }

  #top-button {
    position: fixed;
    right: 0.25em;
    bottom: 0em;
    z-index: 1000;
    border: none;
    background-color: transparent;
    color: $pinkish-grey;
    text-decoration: none;
    font-size: 40px;
  }

  .first-container {
    h1 {
      font-size: 45px;
    }

    h2 {
      width: 50vw;
      font-size: 25px;
    }

    p {
      width: 40vw;
      font-size: 25px;
    }

    .ipad-island {
      .ipad {
        margin-top: 15vh;
        margin-left: -10%;
        min-width: 200px;
        max-width: 450px;
      }
    }
  }

  .second-container {
    font-size: 22px;

    h1 {
      font-size: 30px;
    }


  }

  .third-container {
    padding-top: 10px;

    .card-icon {
      font-size: 16px;
    }
  }

  .fourth-container {
    margin-top: 10%;

    .mooxoo-shapes {
      margin-top: 50%;
    }

    .eye-container {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 15px;
      }
    }

    .sub-text {
      font-size: 25px;

      h1 {
        font-size: 35px;
      }

      h3 {
        font-weight: bold;
        font-size: 25px;
      }

      p {
        font-size: 15px;
      }


    }
  }

  .fifth-container {
    .sub-text {
      margin-top: 20%;

      h3 {
        padding-top: 0%;
        font-size: 18px;
      }

      h4 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .sixth-container {
    padding-bottom: 0px;

    .island-3 {
      margin-top: -10vw;

      .brain-icon {
        margin-top: 10vw;
        margin-left: 23vw;
        width: 7vw;
      }

      .text-area {
        margin-left: 10vw;
        font-size: 20px;
      }
    }

    h1 {
      font-size: 35px;
    }

    h3 {
      font-size: 18px;
    }
  }

  .seventh-container {
    .text-container {
      margin-top: 8vh;
      font-size: 30px;

      h2 {
        font-size: 22px;
      }

      h3 {
        font-weight: 700;
        font-size: 20px;
      }

      p {
        font-size: 18px;
      }
    }

    .text-links {
      h1 {
        font-size: 20px;
      }
    }

    .icon-box {
      padding: 20px;
      width: 100%;
    }
  }

  .eighth-container {
    padding-top: 5%;

    .text-box {
      font-size: 25;
    }

    p {
      font-size: 20px;
    }
  }

  .ninth-container {
    .container {
      margin-top: 25px;
      margin-bottom: 50px;

      h1 {
        font-size: 18px;
      }
    }

    .slide-navigation {
      padding-left: 5%;

      .container {
        width: 90%;
      }

      li {
        width: 15%;

        &:before {
          line-height: 15%;
        }

        p {
          margin-left: 0%;
          width: 100%;
          font-size: 12.5px;
        }
      }
    }

    .slide-wrap {
      width: 100%;

      .slide-bar {
        padding: 0vw 1vw 5vw;
        max-width: 100%;

        .icon {
          width: auto;
          height: 30px;
        }

        h1 {
          margin-bottom: 5px;
          font-size: 20px;
        }

        .sub-description {
          font-size: 13px;
        }

        .sub-title {
          font-size: 13px;
          color: $moo-xoo-green;
        }

        .slogan {
          font-size: 17px;
        }

        .slide-item {
          font-size: 13px;
        }

        .actions {
          padding-top: 15%;
        }

        #main-slide {
          .island {
            .island-container {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .tenth-container {
    h1 {
      font-size: 28px;
    }

    .card-icon {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 15px;
      }
    }

    h3 {
      font-size: 15px;
    }

    .island {
      h3 {
        margin-left: 20%;
        padding-top: 5vh;
        font-size: 18px;
      }
    }
  }

  .eleventh-container {

    h1 {
      font-size: 35px;
    }

    h2 {
      margin-bottom: 20%;
      font-size: 25px;
    }

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 22px;
    }
  }

  .twelveth-container {
    .text-rectangle {
      height: 60vh;

      p {
        font-size: 15px;
      }
    }

    .contact-container {
      h3 {
        font-size: 20px;
      }
    }
  }

  .footer {

    p,
    a {
      font-size: 12px;
    }

    .copyright {
      font-size: 10px;
    }

    h3 {
      font-size: 13px;
    }
  }
}
