// (min-width: 576px) and (max-width: 768px)
@include responsive(sm) {
  .container {
    width: 72%;
  }

  .navbar {
    padding-left: 12%;

    .image {
      margin-right: 30%;
    }

    a {
      padding-right: 1.5vw;
    }

    .navbar-menu {
      width: 30%;

      a {
        &:last-child {
          left: 0%;
        }
      }
    }
  }

  .main-title {
    margin-top: 2em;
  }

  .icon-box {
    margin-bottom: 30px;
    padding: 15px;
    width: 50%;
  }

  .text-box {
    margin-bottom: 20px;
    padding: 5% 5%;
    width: 50%;
    font-size: 1.5em;
  }

  .btn {
    font-size: 25px;
  }

  .icon-container {
    margin-top: 20px;
    padding-bottom: 34px;
  }

  .mooxoo-shapes {
    .doughnut {
      margin-top: -50vw;
      margin-left: 50vw;
      width: 350px;
      height: 350px;
      border: 75px solid;

      .image {
        width: 200px;
        height: 200px;
      }
    }

    .semi-circle {
      margin-top: -9vw;
      margin-bottom: -50vw;
      margin-left: 10vw;
      width: 100%;
      height: 60%;
      height: 60%;
      border: 15vw solid $moo-xoo-green;
      border-bottom: 0;
      border-top-left-radius: 35vw;
      border-top-right-radius: 35vw;
    }

    .triangle {
      margin-left: 0%;
      height: 400px;
      -webkit-transform: rotate(-15deg);

      img {
        margin-top: 10%;
      }
    }

    .cross {
      margin-top: -1475px;
      margin-left: 40vw;
      width: 80vw;

      img {
        margin-top: 10%;
        margin-left: 20%;
        width: 60vw;
        height: 60vw;
      }
    }
  }

  #top-button {
    position: fixed;
    right: 0.3em;
    bottom: -0.3em;
    z-index: 1000;
    border: none;
    background-color: transparent;
    color: $pinkish-grey;
    text-decoration: none;
    font-size: 40px;
  }

  .first-container {
    h1 {
      font-size: 45px;
    }

    h2 {
      margin-top: 5%;
      width: 45vw;
      font-size: 25px;
    }

    p {
      width: 45vw;
      font-size: 22px;
    }

    .ipad-island {
      display: none;

      .ipad {
        margin-top: 15vh;
        margin-left: -10%;
        min-width: 200px;
        max-width: 450px;
      }
    }
  }

  .second-container {
    padding-top: -5px;
    width: 100%;
    font-size: 20px;


    .green-description {
      padding-bottom: 0px;
      width: 110%;
    }

    .black-description {
      padding-bottom: 0px;
    }
  }

  .third-container {
    padding-top: 0px;

    .card-icon {
      margin-top: 70px;
      width: 100%;
      font-size: 20px;
    }
  }

  .fourth-container {
    margin-top: 0%;

    .mooxoo-shapes {
      margin-top: 10%;
      padding-top: 20%;
    }

    .eye-container {
      display: none;
    }

    .sub-text {
      width: 65vw;
      font-size: 22px;

      h1 {
        font-size: 40px;
      }

      h2 {
        margin-bottom: 22px;
      }

      p {
        font-size: 22px;
      }
    }
  }

  .fifth-container {
    .sub-text {
      margin-top: 10%;
      margin-bottom: 5%;

      h3 {
        padding-top: 0%;
        width: 86%;
        font-size: 22px;
      }

      h4 {
        font-size: 22px;
      }

      p {
        font-size: 22px;
      }
    }
  }

  .sixth-container {
    padding-top: 40%;
    padding-bottom: 0px;

    .island-3 {
      display: none;
    }

    h1 {
      font-size: 40px;
    }

    h3 {
      margin-bottom: 10%;
      width: 60%;
      font-size: 25px;
    }
  }

  .seventh-container {
    .text-container {
      margin-top: 8%;
      font-size: 25px;

      h1 {
        font-size: 22px;
      }

      h2 {
        font-size: 22px;
      }

      h3 {
        font-weight: 700;
        font-size: 25px;
      }

      p {
        margin-top: 5%;
        width: 100%;
        font-size: 22px;
      }
    }

    .text-links {
      margin-top: 5%;
      width: 50vw;

      h1 {
        font-size: 25px;
      }
    }

    .macbook-container {
      display: none;
    }

    .icon-box {
      margin-top: 10%;
      margin-bottom: 2%;
      padding: 20px;
    }
  }

  .eighth-container {
    padding-top: 5%;

    .text-box {
      width: 100%;
    }

    p {
      margin-bottom: 10%;
      width: 100%;
      font-size: 25px;
    }
  }

  .ninth-container {
    .container {
      margin-top: 25px;
      margin-bottom: 50px;

      h1 {
        width: 100%;
        font-size: 20px;
      }
    }

    .slide-navigation {
      display: none;
    }

    .slide-wrap {
      width: 100%;

      .slide-bar {
        padding: 0vw 1vw 5vw;
        max-width: 100%;

        .icon {
          width: auto;
          height: 30px;
        }

        h1 {
          margin-bottom: 5px;
          font-size: 35px;
        }

        .sub-description {
          width: 80%;
          font-size: 18px;
        }

        .sub-title {
          font-size: 22px;
        }

        .slogan {
          width: 80%;
          font-size: 20px;
        }

        .description {
          width: 80%;
          font-size: 20px;
        }

        .slide-item {
          width: 100%;
          font-size: 13px;
        }

        .actions {
          padding-top: 15%;
        }

        .actions {
          padding-top: 5%;
          padding-bottom: 10%;

          .btn {
            font-size: 18px;
          }
        }

        #main-slide {
          width: 95%;

          .island {
            margin-top: 10%;
            margin-left: 5vw;

            .island-container {
              p {
                margin-left: 0vw;
                width: 90%;
                font-size: 13px;

                &:last-child {
                  font-weight: bold;
                }
              }
            }
          }
        }

        #modules {
          margin-left: 10%;
          padding-top: 10vh;
          width: 80%;
        }

        #management {
          .island {
            padding-left: 10%;
          }

          .green {
            font-size: 20px;
          }
        }

        #analysing {
          .island {
            padding-top: 20%;
            padding-left: 10%;
          }
        }

        #communication {
          .island {
            padding-top: 20%;
            padding-left: 10%;
          }
        }

        #material {
          margin-right: 10vw;

          .island {
            padding-top: 20%;
            padding-bottom: 20%;
            padding-left: 10%;
          }
        }
      }
    }
  }

  .tenth-container {
    h1 {
      font-size: 40px;
    }

    .card-icon {
      width: 60%;

      h3 {
        font-size: 30px;
      }

      p {
        padding-bottom: 10px;
        font-size: 25px;
      }
    }

    h3 {
      font-size: 15px;
    }

    .island {
      display: none;
    }
  }

  .eleventh-container {
    margin-top: 100px;
    width: 80%;

    h1 {
      font-size: 40px;
    }

    h2 {
      margin-bottom: 20%;
      font-size: 17px;
    }

    h3 {
      font-size: 19px;
    }

    p {
      font-size: 13px;
    }

    .hiring {
      margin-left: 40vw;
    }
  }

  .twelveth-container {
    padding-top: 200px;

    .text-rectangle {
      height: 200px;

      p {
        font-size: 15px;
      }
    }

    .contact-container {
      width: 50%;

      h3 {
        font-size: 25px;
      }

      .contact-content {
        padding: 28px 18px;
      }
    }

    .subscription-container {
      .control {
        .input {
          width: 50vw;
          height: 100%;
          border: solid 0.7px $cool-grey;
          border-radius: 2.1px;
          background-color: #edf5f9;
          color: $dark-grey-blue;
          opacity: 0.3;
        }

        .btn {
          width: 20vw;
          background-color: $moo-xoo-green;
          color: $white;
        }
      }
    }
  }

  .footer {

    p,
    a {
      font-size: 12px;
    }

    .copyright {
      font-size: 10px;
    }

    h3 {
      font-size: 13px;
    }
  }
}
