// (max-width: 576px)
@include responsive(xs) {
  .container {
    width: 72%;
  }

  .navbar {
    padding-left: 10%;

    .image {
      margin-right: 30%;
    }

    a {
      padding-right: 1.5vw;
    }

    .navbar-menu {
      z-index: 1;
      padding-top: 13%;
      width: 100%;
      background-color: white;

      a {
        &:last-child {
          left: 0%;
        }
      }
    }
  }

  .navbar-burger {
    width: 23%;
    background-color: white;

  }

  .navbar-burger:active {
    left: 0px;
    z-index: 1000;
    width: 23%;
    background-color: white;
    color: $moo-xoo-green;
  }

  .navbar-burger:hover {
    width: 23%;
    background-color: white;
    color: $moo-xoo-green;

  }

  //  .navbar-burger:after {
  //    width: 23%;
  //    background-color: white;
  //    color: $moo-xoo-green;
  //    left: 100px;
  //    z-index: 1000;
  //  }

  .main-title {
    margin-top: 2em;
  }

  .icon-box {
    margin-bottom: 30px;
    padding: 10px;
    width: 80%;
  }

  .text-box {
    margin-bottom: 20px;
    padding: 5% 5%;
    width: 90%;
    font-size: 0.9em;
  }

  .btn {
    font-size: 12px;
  }

  .icon-container {
    margin-top: 20px;
    padding-bottom: 34px;
  }

  .mooxoo-shapes {
    .doughnut {
      // margin-top: -50vw;
      margin-left: 20vw;
      width: 350px;
      height: 350px;
      border: 75px solid;

      .image {
        width: 200px;
        height: 200px;
      }
    }

    .semi-circle {
      margin-top: -9vw;
      margin-bottom: -50vw;
      margin-left: 10vw;
      width: 100%;
      height: 60%;
      border: 15vw solid $moo-xoo-green;
      border-bottom: 0;
      border-top-left-radius: 35vw;
      border-top-right-radius: 35vw;
    }

    .triangle {
      margin-left: 0%;
      height: 400px;
      -webkit-transform: rotate(-15deg);

      img {
        margin-top: 10%;
      }
    }

    .cross {
      margin-top: -1475px;
      margin-left: 40vw;
      width: 80vw;

      img {
        margin-top: 10%;
        margin-left: 20%;
        width: 60vw;
        height: 60vw;
      }
    }
  }

  #top-button {
    position: fixed;
    right: 0.3em;
    bottom: -0.3em;
    z-index: 1000;
    width: 1em;
    height: 2em;
    border: none;
    background-color: transparent;
    color: $moo-xoo-green;
    text-decoration: none;
    font-size: 40px;
  }

  .first-container {
    margin-top: 20%;
    margin-bottom: 40%;

    h1 {
      font-size: 40px;
    }

    h2 {
      margin-top: 5%;
      width: 70vw;
      font-size: 25px;
    }

    p {
      width: 75vw;
      font-size: 22px;
    }

    .ipad-island {
      display: none;

      .ipad {
        margin-top: 15vh;
        margin-left: -10%;
        min-width: 200px;
        max-width: 450px;
      }
    }
  }

  .second-container {
    font-size: 22px;

    h1 {
      font-size: 30px;
    }

    .green-description {
      padding: 0vw 0vw 0vw 0vw;
      padding-bottom: 0px;
    }

    .black-description {
      padding: 0vw 0vw 0vw 0vw;
      padding-bottom: 0px;
    }
  }

  .third-container {
    padding-top: 50px;

    .card-icon {
      margin-top: 10px;
      width: 100%;
      height: auto;
      font-size: 22px;
    }
  }

  .fourth-container {
    margin-top: 0%;
    font-size: 25px;

    li {
      &:before {
        position: absolute;
        top: 16px;
        left: -48px;
        width: 1px;
        height: 300vh;
        border-left: 1px solid $light-grey;
        content: "";
      }
    }

    .mooxoo-shapes {
      margin-top: 20%;
      margin-bottom: -50%;
      margin-left: -12.5vw;
      padding-top: 5%;

      .triangle {
        margin-left: -30px;
      }
    }

    .eye-container {
      display: none;
    }

    .sub-text {
      margin-left: 0vw;
      width: 70vw;
      line-height: 1.4;

      h1 {
        font-size: 35px;
      }

      h2 {
        margin-bottom: 20px;
        font-size: 25px;
      }

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 22px;
      }
    }
  }

  .fifth-container {
    .sub-text {
      margin-top: 10%;
      margin-bottom: 5%;

      h3 {
        padding-top: 0%;
        width: 85%;
        font-size: 22px;
        line-height: 1.4;
      }

      h4 {
        font-size: 20px;
      }

      p {
        width: 87%;
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }

  .sixth-container {
    padding-top: 40%;
    padding-bottom: 0px;

    .island-3 {
      display: none;
    }

    h1 {
      font-size: 35px;
    }

    h3 {
      margin-bottom: 10%;
      width: 100%;
      font-size: 25px;
    }
  }

  .seventh-container {
    background: none;

    .text-container {
      margin-top: 8%;
      font-size: 30px;

      h2 {
        font-size: 22px;
      }

      h3 {
        font-weight: 700;
        font-size: 22px;
      }

      p {
        width: 100%;
        font-size: 22px;
      }
    }

    .mooxoo-shapes {
      margin-top: 20%;

      .cross {
        margin-top: -1515px;
        margin-left: 50vw;
      }
    }

    .text-links {
      margin-top: 5%;
      width: 90%;

      h1 {
        font-size: 22px;
      }
    }

    .macbook-container {
      display: none;
    }

    .icon-box {
      margin-top: 10%;
      margin-bottom: 2%;
      padding: 20px;
    }
  }

  .eighth-container {
    padding-top: 5%;

    p {
      margin-bottom: 10%;
      width: 65vw;
      font-size: 20px;
    }

    .text-box {
      font-size: 1.1em;
    }

    .mooxoo-shapes {
      margin-top: 23%;

      .cross {
        margin-top: -1515px;
        margin-left: 50vw;
      }
    }


  }

  .ninth-container {
    .container {
      margin-top: 25px;
      margin-bottom: 50px;

      h1 {
        width: 100%;
        font-size: 20px;
      }
    }

    .slide-navigation {
      display: none;
    }

    .slide-wrap {
      width: 100%;

      .slide-bar {
        padding: 0vw 1vw 5vw;
        max-width: 100%;

        .icon {
          width: auto;
          height: 30px;
        }

        h1 {
          margin-bottom: 5px;
          width: 80%;
          font-size: 30px;
        }

        .slogan {
          font-size: 25px;
        }

        p {
          width: 90%;
          font-size: 22px;
        }

        .sub-description {
          margin-bottom: 5px;
          width: 100%;
          font-size: 22px;
          line-height: 1.4;
        }

        .sub-title {
          margin-top: 5%;
          font-size: 25px;

        }

        .slogan {
          width: 90%;
          font-size: 22px;
        }

        .slide-item {
          padding-bottom: 10%;
          width: 100%;
          font-size: 20px;
        }

        .btn {
          font-size: 20px;
        }

        .actions {
          padding-top: 10%;
          padding-bottom: 10%;
        }



        #main-slide {
          width: 95%;

          .island {
            margin-top: 10%;
            margin-left: 10vw;

            .island-container {
              p {
                margin-left: 0vw;
                width: 90%;
                font-size: 22px;

                &:last-child {
                  font-weight: bold;
                }
              }
            }
          }
        }

        #modules {
          margin-left: 10%;
          padding-top: 10vh;
          width: 80%;
        }

        #management {
          .island {
            padding-left: 10%;
          }

          .green {
            font-size: 22px;
          }
        }

        #analysing {
          .island {
            padding-top: 20%;
            padding-left: 10%;
          }
        }

        #communication {
          .island {
            padding-top: 20%;
            padding-left: 10%;

            h1 {
              font-size: 30px;
            }
          }
        }

        #material {
          margin-right: 10vw;

          .island {
            padding-top: 20%;
            padding-left: 10%;
          }
        }
      }
    }
  }

  .tenth-container {
    padding-top: 40%;

    h1 {
      font-size: 25px;
    }

    .card-icon {
      width: 80%;

      h3 {
        font-size: 25px;
      }

      p {
        padding-bottom: 10px;
        // width: 85%;
        font-size: 22px;
      }
    }

    h3 {
      font-size: 15px;
    }

    .island {
      display: none;
    }
  }

  .eleventh-container {
    margin-top: 10%;
    width: 80%;

    h1 {
      font-size: 35px;
    }

    h2 {
      margin-bottom: 90%;
      font-size: 25px;
    }

    h3 {
      font-size: 22px;
    }

    p {
      width: 100%;
      font-size: 22px;
    }

    .hiring {
      margin-left: 15vw;
    }

    .semi-circle {
      margin-top: 25vw;
      margin-bottom: -75vw;
      margin-left: 0vw;
      width: 90vw;
      height: 45vw;
      border: 20vw solid $moo-xoo-green;
      border-bottom: 0;
      border-top-left-radius: 50vw;
      border-top-right-radius: 50vw;
      transform: rotate(-160deg);
    }
  }

  .twelveth-container {
    padding-top: 50%;

    .text-rectangle {
      height: 250px;

      h1 {
        margin-left: -3%;
        padding-top: 17%;
        width: 110%;
        font-size: 22px;
      }

      p {
        margin-left: -3%;
        width: 110%;
        font-size: 18px;
      }
    }

    .contact-container {
      margin-top: -10%;
      width: 50%;

      h3 {
        font-size: 22px;
      }

      .contact-content {
        padding: 28px 18px;
      }
    }

    .subscription-container {
      .control {
        .input {
          width: 50vw;
          height: 100%;
          border: solid 0.7px $cool-grey;
          border-radius: 2.1px;
          background-color: #edf5f9;
          color: $dark-grey-blue;
          opacity: 0.3;
        }

        .btn {
          width: 20vw;
          background-color: $moo-xoo-green;
          color: $white;
        }
      }
    }
  }

  .footer {
    padding-top: 10px;

    .column {
      height: 20%;
    }

    #links {
      padding-left: 0;
    }

    img {
      width: 35vw;
    }
  }
}
